%h1 Listing memberships

%table
  %thead
    %tr
      %th Project
      %th Member
      %th Creator
      %th Access level
      %th
      %th
      %th

  %tbody
    - @memberships.each do |membership|
      %tr
        %td= membership.project
        %td= membership.member
        %td= membership.creator
        %td= link_to 'Show', membership
        %td= link_to 'Edit', edit_membership_path(membership)
        %td= link_to 'Destroy', membership, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Membership', new_membership_path
