<h1>New task</h1>

<form id="new-task" name="task">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="field">
    <label for="description"> description:</label>
    <input type="text" name="description" id="description" value="<%= description %>" >
  </div>

  <div class="field">
    <label for="x"> x:</label>
    <input type="text" name="x" id="x" value="<%= x %>" >
  </div>

  <div class="field">
    <label for="y"> y:</label>
    <input type="text" name="y" id="y" value="<%= y %>" >
  </div>

  <div class="field">
    <label for="color"> color:</label>
    <input type="text" name="color" id="color" value="<%= color %>" >
  </div>

  <div class="field">
    <label for="status"> status:</label>
    <input type="text" name="status" id="status" value="<%= status %>" >
  </div>

  <div class="field">
    <label for="urgency"> urgency:</label>
    <input type="text" name="urgency" id="urgency" value="<%= urgency %>" >
  </div>

  <div class="field">
    <label for="importance"> importance:</label>
    <input type="text" name="importance" id="importance" value="<%= importance %>" >
  </div>

  <div class="field">
    <label for="effort"> effort:</label>
    <input type="text" name="effort" id="effort" value="<%= effort %>" >
  </div>

  <div class="field">
    <label for="due_date"> due_date:</label>
    <input type="text" name="due_date" id="due_date" value="<%= due_date %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Task" />
  </div>

</form>

<a href="#/index">Back</a>