<td><%= title %></td>
<td><%= description %></td>
<td><%= x %></td>
<td><%= y %></td>
<td><%= color %></td>
<td><%= status %></td>
<td><%= urgency %></td>
<td><%= importance %></td>
<td><%= effort %></td>
<td><%= due_date %></td>

<td><a href="#/<%= id %>">Show</a></td>
<td><a href="#/<%= id %>/edit">Edit</a></td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>
