%p#notice= notice

%p
  %b Title:
  = @project.title
%p
  %b Description:
  = @project.description
%p
  %b Visibility:
  = @project.visibility
%p
  %b Status:
  = @project.status
%p
  %b Due date:
  = @project.due_date
%p
  %b Creator:
  = @project.creator
%p
  %b Archived:
  = @project.archived

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
